apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: web-canary
  labels:
    app: zero-demo
spec:
  replicas: 4
  selector:
    matchLabels:
      app: zero-demo
      track: canary
  template:
    metadata:
      labels:
        app: zero-demo
        track: canary
    spec:
      containers:
      - name: web
        image: akterfaruq/zero-downtime-demo:latest
        ports:
        - containerPort: 3000
        readinessProbe:
          httpGet:
            path: /ready
            port: 3000
          initialDelaySeconds: 2
          periodSeconds: 2
        livenessProbe:
          httpGet:
            path: /healthz
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
  strategy:
    canary:
      steps:
      - setWeight: 10
      - pause: {duration: 30}
      - setWeight: 50
      - pause: {duration: 30}
      - setWeight: 100
