apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  selector:
    app: zero-demo
    track: blue      # initially point to blue
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
  type: ClusterIP
