name: Build and Push Docker Image

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push v${{ github.run_number }} and latest
      run: |
        IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/zero-downtime-demo
        docker build \
          --build-arg APP_VERSION=latest \
          -t $IMAGE:latest \
          -t $IMAGE:v${{ github.run_number }} \
          -f app/Dockerfile app
        docker push $IMAGE:latest
        docker push $IMAGE:v${{ github.run_number }}
